body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 630px;
    margin: 20px auto 0 auto;
}

.galeria img {
    width: 100% !important;
    height: auto !important;
    border-radius: 8px;
    object-fit: cover;
}

section {
    max-width: 600px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: #83cfec;
}

h1, h2 {
    color: #ecf0f1;
}

a {
    color: #ff9900;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffb366;
    text-decoration: underline;
}
